body {
  font-family: Arial, sans-serif;
  background-color: #173ea8;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #dacb07;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  display: block;
  margin: auto;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
.success, .error {
  display: none;
  font-size: 0.9em;
}
.success {
  color: green;
}
.error {
  color: red;
}
/* Styling for the register link */
.link {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: blue;
  cursor: pointer;
}